.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

/* TOPO */

header {
  background-color: #09623C;
  color: #FFD8A3;
  text-align: left;
  padding: 0px 20px;
}

header > p {
  font-weight: bold;
}

/* CONTEÚDO */

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* TÍTULO */

.box-titulo {
  background-color: #4FA882;
  padding-bottom: 50px;
}

h1 {
  color: #FFD8A3;
}

.box-titulo p {
  font-size: 24px;
  color: black;
  margin-bottom: 50px;
}

.box-titulo a {
  text-decoration: none;
  background-color: #FFD8A3;
  border-radius: 5px;
  color: black;
  padding: 10px 20px;
  font-weight: bold;
}

/* REQUISITOS */

.box-requisitos {
  padding: 30px;
}

.box-cards {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 80px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #4FA882;
  width: calc((100% / 3) - 10px);
  max-width: 300px;
  margin: 5px;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 5px 5px rgba(145, 145, 145, 0.364);
}

.card h3 {
  margin: 0 0 10px;
  color: #A22249;
}

.card p {
  margin: 0;
}

/* RODAPÉ */

footer {
  background-color: #FFD8A3;
  text-align: center;
}